@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to Fourth Coffee!</h1>
<div id="FeaturedProduct" class="row">
    <div class="col-sm-8">
        <img src="~/images/products/@Model.Product.ImageName" class="img-fluid rounded" />
    </div>

    <div class="col-sm-4">
        <h2>@Html.DisplayFor(model => model.Product.Name)</h2>
        <p>@String.Format("{0:f}", Model.Product.Price)</p>
        <p>@Model.Product.Description</p>

        <div>
            <a class="btn btn-sm btn-danger order-button float-right" asp-page="/product/order" asp-route-id="@Model.Product.Id" title="Order @Model.Product.Name">Order Now</a>
        </div>
    </div>
</div>

<div id="ProductsWrapper" class="row">
    @foreach (var product in Model.Product.Products.OrderBy(p => p.Name))
    {
        <div class="col-sm-3">
            <a asp-page="/order" asp-route-id="@product.Id" title="Order @product.Name">
                <div class="productInfo">
                    <h3>@product.Name</h3>
                    <img src="~/images/products/@product.ImageName" class="img-fluid rounded" />
                    <p>@product.Description</p>
                </div>
            </a>
            <div>
                <p>@String.Format("{0:f}",product.Price)</p>
                <a class="btn btn-sm btn-danger order-button float-right" asp-page="/product/order" asp-route-id="@product.Id" title="Order @product.Name">Order Now</a>
            </div>
        </div>
    }
</div>
